<html>
    <head>
        <title>
            {%- if block("title") -%}
                {{ block('title') }} | star wars events
            {%- else -%}
                Event from a galaxy far far away
            {%- endif -%}
        </title>
    </head>

    <link rel="stylesheet" href="{{ asset('bundles/yodaevent/default.css') }}" />

<body>
    <h1>Yoda template 2</h1>
    {% block body %}{% endblock %}
</body>
</html>