{% extends '@YodaEvent/Template/base.html.twig' %}

{% block title %}Jedi Masters{% endblock %}

{% block body %}

    {% for message in app.session.flashBag.get('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1>Event list</h1>

    <hr />

    {{ render(controller('YodaEventBundle:Event:_upcomingEvents')) }}
{% endblock %}
