{% extends '@YodaEvent/Template/base.html.twig' %}
{% form_theme form "::form_theme.html.twig" %}

{% block body %}
    <h1>Event creation</h1>
    <hr class="divider" />

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Create" class="btn btn-success" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
